<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bucket</title>
</head>
<body>
<h1>Bucket</h1>
<table>
  <thead>
  <tr>
    <th>Bucket ID</th>
    <th>User ID</th>
    <th>Product ID</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop over the list of buckets and create a table row for each one -->
  <c:forEach items="${buckets}" var="bucket">
    <tr>
      <td>${bucket.id}</td>
      <td>${bucket.userId}</td>
      <td>${bucket.productId}</td>
      <td>${bucket.quantity}</td>
    </tr>
  </c:forEach>
  </tbody>
</table>
</body>
</html>
